<div class="app-header">
  <a routerLink="/home">
    <div class="logo">
      <img src="../../assets/images/logo.svg">
    </div>
  </a>
  <div style="display: flex; justify-content: space-between; width: 100%">
    <div class="title">
      {{pageTitle}}
    </div>
    <div style="display: flex;align-items: center; margin-right: 22px">
      <a *ngIf="showCode" class="page-link orange" routerLink="/code"><span class="orange-slash">//</span>CODE</a>
      <a *ngIf="showAbout" class="page-link blue" routerLink="/about"><span class="blue-slash">//</span>ABOUT</a>
      <a *ngIf="showMusic" class="page-link green" routerLink="/music"><span class="green-slash">//</span>MUSIC</a>
    </div>
  </div>
</div>
