.content {
  font-family: montserrat, sans-serif;
  font-size: 18px;
}

.postDate {
  font-size: 14px;
  text-align: left;
  line-height: 20px;
  color: #9696A0;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.postTitle {
  font-family: montserrat, sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
